<app-header></app-header>

<div class="wishlist-container">
  <h2 class="page-title">{{ 'wishlist.title' | transloco }}</h2>

  <div class="list">

    @if (Favoritos != null && Favoritos.length != 0) {

      @for (lugar of Favoritos; track lugar.id; let i = $index) {
        <app-place-card 
          [place]="lugar" 
          [isBlue]="i % 2 === 0"
          (onRemoveFavorite)="openConfirmModal(lugar.id)">
        </app-place-card>
      }

    } @else {

      <div class="empty-container">
        <img src="cat-google-maps.gif" alt="Cat google maps gif" class="empty-gif">
        <p>{{ 'wishlist.empty' | transloco }}</p>
      </div>

    }

  </div>
</div>

<!-- 🔥 MODAL -->
@if (isModalOpen) {
  <div class="modal-overlay" (click)="closeConfirmModal()">
    
    <div class="modal-content" (click)="$event.stopPropagation()">

      <div class="modal-header">
        <i class="bi bi-exclamation-triangle-fill warning-icon"></i>
        <h3>{{ 'wishlist.modal.title' | transloco }}</h3>
      </div>

      <p>
        {{ 'wishlist.modal.message' | transloco }}
      </p>

      <div class="modal-actions">
        <button class="btn-cancel" (click)="closeConfirmModal()">
          {{ 'wishlist.modal.cancel' | transloco }}
        </button>
        <button class="btn-confirm" (click)="confirmDelete()">
          {{ 'wishlist.modal.confirm' | transloco }}
        </button>
      </div>

    </div>

  </div>
}

<app-footer></app-footer>