<app-header></app-header>

<main class="travels-container">

  <h1 class="main-title">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
      <path fill="currentColor" d="M576 48c0-11.1-5.7-21.4-15.2-27.2s-21.2-6.4-31.1-1.4L413.5 77.5 234.1 17.6c-8.1-2.7-16.8-2.1-24.4 1.7l-128 64C70.8 88.8 64 99.9 64 112l0 352c0 11.1 5.7 21.4 15.2 27.2s21.2 6.4 31.1 1.4l116.1-58.1 173.3 57.8c-4.3-6.4-8.5-13.1-12.6-19.9-11-18.3-21.9-39.3-30-61.8l-101.2-33.7 0-284.5 128 42.7 0 99.3c31-35.8 77-58.4 128-58.4 22.6 0 44.2 4.4 64 12.5L576 48zM512 224c-66.3 0-120 52.8-120 117.9 0 68.9 64.1 150.4 98.6 189.3 11.6 13 31.3 13 42.9 0 34.5-38.9 98.6-120.4 98.6-189.3 0-65.1-53.7-117.9-120-117.9zM472 344a40 40 0 1 1 80 0 40 40 0 1 1 -80 0z"/>
    </svg>

    {{ 'myItineraries.title' | transloco }}

  </h1>

  @if (loading) {

    <div class="message-box">
      {{ 'myItineraries.loading' | transloco }}
    </div>

  }

  @if (!loading && itineraries.length === 0) {

    <div class="message-box">
      {{ 'myItineraries.empty' | transloco }}
    </div>

  }

  @for (itinerary of itineraries; track itinerary.tripId; let i = $index) {

    <div
      class="itinerary-card"
      [class.open]="isExpanded(i)"
    >

      <div
        class="itinerary-card-header"
        (click)="toggleCard(i)"
      >

        <div class="itinerary-info">

          <h2>
            {{ itinerary.name }}
          </h2>

          <p class="city-text">
            Visitaré {{ getCityName(itinerary) }}
          </p>

          <p class="date-text">
            Mi próxima aventura será entre
            {{ formatDate(itinerary.startDate) }}
            –
            {{ formatDate(itinerary.endDate) }}
          </p>

          <div class="itinerary-meta">

            <div class="meta-item">

              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M512 48c0-8.3-4.3-16-11.3-20.4s-15.9-4.8-23.3-1.1L352.5 88.1 180 29.4c-13.7-4.7-28.7-3.8-41.9 2.3L13.8 90.3C5.4 94.2 0 102.7 0 112L0 464c0 8.2 4.2 15.9 11.1 20.3s15.6 4.9 23.1 1.4l127.3-59.9 170.7 56.9c13.7 4.6 28.5 3.7 41.6-2.5l124.4-58.5c8.4-4 13.8-12.4 13.8-21.7l0-352z"/>
              </svg>

              <span>
                {{ itinerary.places.length }}
                {{ 'myItineraries.places' | transloco }}
              </span>

            </div>

          </div>

        </div>

        <div class="expand-icon">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
            <path fill="currentColor" d="M297 441C309.5 453.5 329.8 453.5 342.3 441L534.3 249C546.8 236.5 546.8 216.2 534.3 203.7C521.8 191.2 501.5 191.2 489 203.7L320 372.7L151 203.7C138.5 191.2 118.2 191.2 105.7 203.7C93.2 216.2 93.2 236.5 105.7 249L297.7 441z"/>
          </svg>

        </div>

      </div>

      @if (isExpanded(i)) {

        <div class="itinerary-details">

          <div class="stops-list">

            @for (place of itinerary.places; track place.id; let index = $index) {

              <div class="stop-item">

                <div class="stop-content">

                  <div class="stop-number">
                    {{ index + 1 }}
                  </div>

                  <div class="stop-name">
                    {{ place.name }}
                  </div>

                </div>

                <a
                  class="ver-mas-link"
                  [routerLink]="['/place', place.id]"
                >
                  {{ 'myItineraries.viewMore' | transloco }}
                </a>

              </div>

            }

          </div>

          @if (itinerary.routeCoordinates && itinerary.routeCoordinates.length > 0) {

            <div class="generated-map-box">

              <app-map
                [places]="itinerary.places"
                [routeCoordinates]="itinerary.routeCoordinates"
                [showRoute]="true">
              </app-map>

            </div>

          }

        </div>

      }

    </div>

  }

</main>

<app-footer></app-footer>