<main class="content">

   <!-- LOGO SUPERIOR -->
  <section class="img-container" (click)="goToLanding()">
    <div class="logo">
      <!-- Agrega esta línea con la ruta a tu archivo -->
      <img src="traveling2white.svg" alt="Logo Traveling" />
    </div>
  </section>

  <!-- DERECHA (FORMULARIO) -->
  <section class="form-container">

    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-login">

      <!-- VOLVER -->
      <div class="login-container">
        <a [routerLink]="['/login']">{{ 'forgotPassword.textLinkReturnLogin' | transloco }}</a>
      </div>

      <!-- TÍTULO -->
      <div class="title-container">
        <h1>{{ 'forgotPassword.textTitle' | transloco }}</h1>
      </div>

      <!-- DESCRIPCIÓN -->
      <p class="description">
        {{ 'forgotPassword.textDescription' | transloco }}
      </p>

      <!-- INPUT CORREO -->
      <div class="input-container">
        <input
          type="email"
          class="form-input"
          name="correo"
          [(ngModel)]="correo"
          required
          email
          #correoInput="ngModel"
          placeholder=" "
          [class.input-error]="correoInput.invalid && (correoInput.touched || correoInput.dirty)"
        />

        <label
          class="label-form"
          [class.label-error]="correoInput.invalid && (correoInput.touched || correoInput.dirty)"
        >
          {{ 'formLoginAndSignin.textoInputs.correo' | transloco }}
        </label>

        <div class="error-container" *ngIf="correoInput.invalid && (correoInput.touched || correoInput.dirty)">
          <p *ngIf="correoInput.errors?.['required']">{{ 'formLoginAndSignin.errorInputs.emailRequired' | transloco }}</p>
          <p *ngIf="correoInput.errors?.['email']">{{ 'formLoginAndSignin.errorInputs.emailInvalid' | transloco }}</p>
        </div>
      </div>

      <!-- MENSAJES -->
      <div *ngIf="error" class="alert alert-error">
        {{ error }}
      </div>

      <div *ngIf="message" class="alert alert-success">
        {{ message }}
      </div>

      <!-- BOTÓN -->
      <div class="button-container">
        <button type="submit" [disabled]="loading">
          {{ 'forgotPassword.textButtonSendLink' | transloco }}
        </button>
      </div>

    </form>

  </section>
</main>