<app-header></app-header>

<div class="search-page-wrapper py-5">
  <div class="container">
    
    <div class="mb-4" *ngIf="searchTerm">
      <h3>Resultados para: <span class="text-orange-travel">"{{ searchTerm }}"</span></h3>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-11">
        
        <div *ngIf="isLoading" class="text-center my-5">
          <div class="spinner-border text-primary" role="status"></div>
          <p>Buscando en Bolivia...</p>
        </div>

        <div *ngIf="!isLoading && places.length > 0">
          <div *ngFor="let place of places; let i = index"
             class="search-card mb-4 d-flex justify-content-between align-items-start"
             [ngClass]="i % 2 === 0 ? 'border-orange-travel' : 'border-blue-travel'">
          
              <div class="pe-3">
                <h4 class="place-title">{{ place.name }}</h4>
                <p class="place-location">
                  <strong>Ubicado en {{ place.address }}</strong>
                </p>
                <p class="place-description">
                  {{ place.description }}
                </p>
              </div>
              
              <div class="stars h5 flex-shrink-0"
                  [ngClass]="i % 2 === 0 ? 'stars-orange' : 'stars-blue'">
                {{ getStars(place.rating) }}
              </div>
              
          </div>
        </div>

        <div *ngIf="!isLoading && places.length === 0" class="text-center my-5 no-results">
          <img src="notFound.webp" alt="No encontrado" style="width: 200px; opacity: 0.5;">
          <h4 class="mt-4">¡Ups! No se encontraron coincidencias.</h4>
          <p class="text-muted">Intenta con otro departamento, nombre de parque o dirección.</p>
          <a class="btn btn-outline-primary mt-3" routerLink="/InicioLogueado">Volver al inicio</a>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>