.header {
  background-color: var(--steel-azure);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  color: white;
  height: 110px;
  position: relative;
  z-index: 10;
}

svg {
  width: 40%;
  color: white;
}

.search-bar {
  display: flex;
  gap: 5px;
  background: white;
  border: 2px solid #ff7841; 
  border-radius: 25px;
  padding: 5px 10px;
  width: 400px;
  position: relative;
  z-index: 1001; 
  transition: border-radius 0.1s; 
}

.search-bar.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #eee; 
}

.search-bar input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 1rem;
}

.search-btn {
  background: #ff7841;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn svg {
  width: 20px;
  color: white;
}

.profile-container {
  position: relative; 
}

.profile-pic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #ff7841;
  cursor: pointer;
  object-fit: cover;
  margin-right: 8px;
}

.profile-container svg {
  width: 30px;
  color: #ff7841;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #004a80;
  border: 2px solid #ff7841;
  border-radius: 15px;
  width: 220px;
  z-index: 100;
  overflow: hidden;
  display: block;
  padding: 10px 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 120, 65, 0.5); 
  gap: 15px;
}

.menu-item svg {
  color: white;
  width: 30px;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-item i {
  font-size: 20px;
}


/*PARA SUGERENCIAS */
.search-container {
  position: relative;
}

.suggestions-dropdown {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  background: white;
  border: 2px solid #ff7841;
  border-top: none; /* Quitamos el borde superior para que se una */
  border-radius: 0 0 25px 25px; /* Solo redondeamos abajo */
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  z-index: 1000;
  overflow: hidden;
  margin-top: -2px; /* Ajuste mínimo para que los bordes laterales coincidan perfecto */
}


.suggestion-item {
  padding: 12px 20px;
  border-bottom: 1px solid #f0f0f0;
  color: black;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: #fff1eb; /* Un naranja muy suave */
}

.suggestion-info {
  display: flex;
  flex-direction: column;
}

.suggestion-name {
  font-weight: bold;
  font-size: 14px;
}

.suggestion-detail {
  font-size: 11px;
  color: #666;
}
