<div class="bg-pattern">

  <div class="container">

    <div class="logo">TRAVELING</div>

    <div class="card">

      <h2>RESTABLECE TU CONTRASEÑA</h2>

      <p>¡Es hora de renovarse! Crea una nueva clave secreta.</p>

      <input type="password" [(ngModel)]="password" placeholder="Nueva contraseña" />

      <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirmar contraseña" />

      <button (click)="cambiar()" [disabled]="loading">
        {{ loading ? 'Procesando...' : 'CONFIRMAR CAMBIOS' }}
      </button>

      <p class="mensaje">{{ mensaje }}</p>

    </div>

  </div>

</div>